@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
}



.art_bd
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.art_bd-imglogin
{
	width: 200px;
	height: 200px;
	border: 5px;
	border-style: solid;
	border-color: #A11160;
	border-radius: 30%;
	margin-bottom: 50px;
	margin-top: 20px;
}

.art_bd-email
{
	width: 70%;
	height: 20px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #A11160;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Oxygen', serif;
	font-size: 20px;
}

.art_bd-pass
{
	width: 70%;
	height: 20px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #A11160;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Oxygen', serif;
	font-size: 20px;
	
}

.art_bd-accept
{
	width: 30%;
	height: 30px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Oxygen', serif;
	font-size: 20px;
	box-shadow: 0px 10px 20px 5px #FFF; 
	transition: 5s; 
	display: block;
}

.art_bd-accept:hover
{
	transition: 5s;
	box-shadow: 0px 10px 20px 5px #A11160;
}

.imagen-login{
	max-width: 200px;
	margin: 0 auto;
}

.contenedor{
	max-width: 800px;
	margin: 50px auto;
}

main h1{
	margin-bottom: 50px;
}

main{
	background-color: white;
	padding: 25px 50px;
	border-radius: 10px;
}