@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html {
	box-sizing: border-box;
}
  *, *:before, *:after {
	box-sizing: inherit;
}

  img{
	  max-width: 100%;
	  max-height: 100%;
  }

body
{
	margin: 0px;
	background-color: #EDD9FF;
}

.content
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 80px repeat(3,30vh)  40px;
}

/*Header*/

.header
{
	background-color: #687FFF;
	grid-column: 1/span 3;
	display: grid;
	grid-template-columns: 120px 1fr repeat(4,minmax(5px,15vh)) 200px;
	grid-template-rows: 80px;
	justify-items: center;
	align-items: center;
	min-height: 80px;
	color:#FFF;
}
.header2{
	background-color: #687FFF;
	padding: 15px 0;
	display: flex;
	justify-content: space-between;

}

.flex{
	display: flex;
	justify-content: space-between;
}

.navegacion{
	flex-basis: 60%;
	display: flex;
	justify-content: space-between;
}

.navegacion a{
	color: white;
	text-decoration: none;
	margin:  auto 0;
	font-size: 20px;
}

.navegacion a:hover{
	color: #8bea00;
	cursor: pointer;
}



.header_imgLogo
{
	min-width: 60px;
	min-height: 60px;
	height: 60px;
	width: 60px;
}

.header_pHolistica
{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.header_menu
{
	font-family: 'Oxygen',serif;
	font-size: 15px;
}



/*Article*/
.art
{
	grid-column: 1/span 3;
	grid-row: 2/span 3;
	display: grid;
	grid-template-columns: repeat(8,minmax(60px,1fr));
	grid-template-rows: repeat(9, minmax(10px,1fr));

}

.art_bd
{
	background-color: #FAF9FF;
	grid-column: 2 / span 6;
	grid-row: 2 / span 7;
	border-radius: 10px;
	box-shadow: 0px 10px 30px 2px;
	min-height: 30px;
}


/*Footer*/
.footer
{
	background-color: #49E8BE;
	grid-column: 1/span 3;
	grid-row: 5/span 6;
	display: flex;
	flex-direction: column;
	align-items:center;
}

/*Vista Conocenos*/

.nosotros{
	display: flex;
	justify-content: space-between;
}

.imagen-nosotros{
	flex-basis: 48%;
}

.nosotros p{
	flex-basis: 48%;
	line-height: 2;
	font-size: 20px;
}

.imagen-size{
	object-fit: cover;
}

/*Estilos para citas*/

.seccion{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.area{
	flex-basis: 30%;
	border: 1px solid black;
	border-radius: 10px;
}

.seccion h2{
	text-align: center;
	font-size: 30px;
	padding: 15px 0 ;
}

.area-seleccion a{
	display: block;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	margin: 60px 0;

}
.calendario{
	flex-basis: 69%;
}

/*Estilos para home*/
.home{
	max-width: 1000px;
	margin: 20px auto;
}

/*Estilos para contacto*/

.contacto p{
	font-size: 25px;
}

.mapa{
	text-align: center;
}