<!DOCTYPE html>
<html> 
<head>
	<title>Mujer Holística</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/Style.css">

</head>
<body>

	<div class="content">

		<header class="header">
			<img class="header_imgLogo" src="../Images/MHLogo.png">
			<p class="header_pHolistica">Mujer Holistica</p>
			<p class="header_menu">Conocenos</p>
			<p class="header_menu">Servicios</p>
			<p class="header_menu">Contactanos</p>
			<p class="header_menu">Darse de alta</p>
			<p class="header_menu">Iniciar Sesión | Registrarse</p>
		</header>


		<article class="art">

			<div class="art_bd">

			</div>

		</article>


		<footer class="footer">
			<p class="footer_inf">Información Legal</p>
		</footer>
	</div>


</body>
</html>