<!DOCTYPE html>
<html> 
<head>
	<title>Mujer Holística</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/Style.css">
	<link rel="stylesheet" type="text/css" href="../css/StyleLogin.css">

</head>
<body>

	<div class="content">

		<header class="header">
			<img class="header_imgLogo" src="../Images/MHLogo.png">
			<p class="header_pHolistica">Mujer Holistica</p>
			<p class="header_menu">Conocenos</p>
			<p class="header_menu">Servicios</p>
			<p class="header_menu">Contactanos</p>
			<p class="header_menu">Darse de alta</p>
			<p class="header_menu">Registrarse</p>
		</header>


		<article class="art">

			<div class="art_bd">
				<img class="art_bd-imglogin" src="../Images/LoginIcon.png">

				<input class="art_bd-email" type="email" name="email" value="email@ejemplo.com">

				<input class="art_bd-pass" type="password" name="password" value="password">

				<button class="art_bd-accept">Aceptar</button>
			</div>

		</article>


		<footer class="footer">
			<p class="footer_inf">Información Legal</p>
		</footer>
	</div>


</body>
</html>